* {
    color: var(--secondary);
}

body .sec-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: var(--mb-2) 15px;
    margin-top: var(--header-height);
    background-color: var(--newspaper);

}
body .sec-container .ttl {
    height: 50vh;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}
body .sec-container .ttl .img {
    width: 100%;
    height: 100%;
    background-image: url(../img/horseman.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

}
body .sec-container .ttl .text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
body .sec-container .ttl .text h1 {
    font-size: calc(var(--ttl-font-size)*1.5);
    font-family: Britney;
    font-weight: var(--font-black);
    text-align: center;
}
body .sec-container #contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
body .sec-container #contact .contact-info {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 400px;
    padding: var(--mb-1);
    color: var(--secondary);
    margin-top: var(--mb-2);

}
body .sec-container #contact .contact-info h2 {
    font-size: var(--h2-font-size);
    font-family: Ranade;
}
body .sec-container #contact .contact-info .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90%;
    width: 100%;
}

body .sec-container #contact .contact-info .content .text-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ranade;
    padding: var(--mb-1) 0;
    border-top: 1px dashed var(--secondary);
}
body .sec-container #contact .contact-info .content #bordered-sec {
    border-left: 1px solid var(--secondary);

}
body .sec-container #contact .contact-info .content .text-sec .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--mb-1);
}
body .sec-container #contact .contact-info .content .text-sec .text p {
    font-size: var(--h2-font-size);
}

body .sec-container #contact .contact-info .content .text-sec .text p i{
    animation: 3s rotatelogo reverse infinite;
}

body .sec-container #contact .contact-info .content .text-sec .text span {
    font-size: var(--h1-font-size);
}

.custom-shape-divider-top-1714839937 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#tel-info {
    align-self: flex-start;
    border-top: 1px solid var(--secondary);
}


/* RESPONSIVE PART */

@media screen and (max-width: 800px) {

    body .sec-container #contact .contact-info .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        width: 90%;
        gap: var(--mb-1-5);
    }
    body .sec-container #contact .contact-info .content .text-sec {

        border-left: 1px solid var(--secondary);
        border-top: none;
    }
    
}