
@import url('./style.css');

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--mb-1-5) 0;
    width: 100%;
    position: relative;
    
}

header .container .logo {
    font-family: Britney;
    font-weight: var(--font-black);
}

header .container .links, .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Ranade;

}
header .container .links nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container .links nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    gap: var(--mb-2);
}
header .container .links nav ul li a {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    overflow: hidden;
    position: relative;
}

header .container .links nav ul li a:hover::after {

    content: "";
    width: 0%;
    position: absolute;
    height: 2px;
    left: 5%;
    bottom: -5px;
    background-color: var(--text);

    animation: underlineup .2s linear forwards;

}

@keyframes underlineup {

    0%{width: 0;}
    100%{width: 90%;}
    
}

header .container .buttons a {
    font-size: var(--normal-font-size);
    padding: var(--mb-0-75);
    border-radius: var(--mb-0-5);
    background-color: var(--secondary);
    color: var(--accent);
    text-transform: uppercase;
    font-weight: var(--font-black);

}
header .container .buttons a:hover {
    transform: scale(1.05);
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}