@import url(style.css);


.loading-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.loading-main {
    width: 100%;
	height: 100vh;
	background-color: var(--background);
	z-index: var(--Z-modal);
    top: 0;
    left: 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  transform: translateY(100%);
}