@import url("./style.css");

.story {
    display: flex;
    align-items: center;
    justify-content: center;
}

.story .story-content {
    width: 100%;
    height: 100%;
}

.story-content .story-content-main {
    display: flex;
    flex-direction: column;
    padding: var(--mb-2) 0;
}

.story-content-main .content-title {
    display: inline-flex;
    margin-bottom: var(--mb-2);
}

.story-part {
    display: flex;
    justify-content: space-between;
    gap: var(--mb-2);
}

.part-card {min-width: 400px; height: 250px;}

.card-img {width: 100%;height: 100%;}

.card-img picture {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.part-parag {
    height: 100%;
    font-size: var(--normal-font-size);
}

.part-parag .link {
    margin-top: var(--mb-0-5);
}

.link .link-animate {
    display: flex;
    align-items: center;
    gap: var(--mb-0-5);
    overflow: hidden;
}

.link-animate .arrow-right-icon {
    display: flex;
    align-items: center;
    gap: var(--mb-1);
    width: 32px;
    height: 32px;
    translate: 0 0
}

.link-animate .arrow-right-icon svg{
    width: 100%;
    height: 100%;
}

.link:hover .link-animate .arrow-right-icon  {
    animation: btnLinkTranslate 1s ease-in forwards;
}

@keyframes btnLinkTranslate {
    0%{translate: -100% 0}
    25%{translate: 0% 0}
    50%{translate: 50% 0}
    75%{translate: 100% 0}
    100%{translate: 0% 0}
}

@media screen and (max-width: 866px) {
    .story-part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .story-part .part-card {
        width: 100%;
    }

    .part-card .card-img {
        width: 100%;
        height: 268px;
    }

    .card-img picture {
        width: 100%;
        height: 100%;
    }

    .card-img picture img {
        object-fit: cover;
        height: auto;
        width: 100%;
    }
}